<html>
<h1>Recipes</h1>
<div class="#recipe1"></div>
<div class="#recipe2"></div>
<div class="#recipe3"></div>
<div class="#recipe4"></div>
<div class="#recipe5"></div>
<div class="#recipe6"></div>
<div class="#recipe7"></div>
<div class="#recipe8"></div>
<div class="#recipe9"></div>
<div class="#recipe10"></div>
</html>

<%= @recipe1 %>
<%= @recipe2 %>
<%= @recipe3 %>
<%= @recipe4 %>
<%= @recipe5 %>
<%= @recipe6 %>
<%= @recipe7 %>
<%= @recipe8 %>
<%= @recipe9 %>
<%= @recipe10 %>

<%= @tvshow1 %>
<%= @tvshow2 %>
<%= @tvshow3 %>
<%= @tvshow4 %>
<%= @tvshow5 %>
<%= @tvshow6 %>
<%= @tvshow7 %>
<%= @tvshow8 %>
<%= @tvshow9 %>
<%= @tvshow10 %>
